In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("environment_data.csv")
df.head()

     SO2   NO    NO2    NOx   PM10  PM2-5 空气等级
0  0.031  0.0  0.046  0.047  0.085  0.058    I
1  0.022  0.0  0.053  0.053  0.070  0.048   II
2  0.017  0.0  0.029  0.029  0.057  0.040    I
3  0.026  0.0  0.026  0.026  0.049  0.034    I
4  0.018  0.0  0.027  0.027  0.051  0.035    I

In [6]:
X = df.drop('空气等级', axis=1) # 删除列
X

       SO2     NO    NO2    NOx   PM10  PM2-5
0    0.031  0.000  0.046  0.047  0.085  0.058
1    0.022  0.000  0.053  0.053  0.070  0.048
2    0.017  0.000  0.029  0.029  0.057  0.040
3    0.026  0.000  0.026  0.026  0.049  0.034
4    0.018  0.000  0.027  0.027  0.051  0.035
..     ...    ...    ...    ...    ...    ...
315  0.010  0.001  0.037  0.039  0.036  0.022
316  0.007  0.000  0.033  0.034  0.037  0.023
317  0.007  0.000  0.037  0.037  0.038  0.024
318  0.009  0.000  0.040  0.040  0.043  0.027
319  0.027  0.005  0.054  0.062  0.089  0.051

[320 rows x 6 columns]

In [4]:
y = df['空气等级']
y

0       I
1      II
2       I
3       I
4       I
       ..
315     I
316     I
317     I
318     I
319    II
Name: 空气等级, Length: 320, dtype: object

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
dt = DecisionTreeClassifier(criterion='entropy', random_state=42)