In [1]:
import pandas as pd

In [2]:
inputfile = 'air_data.csv'
outputfile = './tmp/explore.csv'

In [3]:
df = pd.read_csv(inputfile)
df.head()

,MEMBER_NO,FFP_DATE,FIRST_FLIGHT_DATE,GENDER,FFP_TIER,WORK_CITY,WORK_PROVINCE,WORK_COUNTRY,AGE,LOAD_TIME,...,ADD_Point_SUM,Eli_Add_Point_Sum,L1Y_ELi_Add_Points,Points_Sum,L1Y_Points_Sum,Ration_L1Y_Flight_Count,Ration_P1Y_Flight_Count,Ration_P1Y_BPS,Ration_L1Y_BPS,Point_NotFlight
0,54993,2006/11/2,2008/12/24,男,6,.,北京,CN,31.0,2014/3/31,...,39992,114452,111100,619760,370211,0.509524,0.490476,0.487221,0.512777,50
1,28065,2007/2/19,2007/8/3,男,6,NaN,北京,CN,42.0,2014/3/31,...,12000,53288,53288,415768,238410,0.514286,0.485714,0.489289,0.510708,33
2,55106,2007/2/1,2007/8/30,男,6,.,北京,CN,40.0,2014/3/31,...,15491,55202,51711,406361,233798,0.518519,0.481481,0.481467,0.518530,26
3,21189,2008/8/22,2008/8/23,男,5,Los Angeles,CA,US,64.0,2014/3/31,...,0,34890,34890,372204,186100,0.434783,0.565217,0.551722,0.448275,12
4,39546,2009/4/10,2009/4/15,男,6,贵阳,贵州,CN,48.0,2014/3/31,...,22704,64969,64969,338813,210365,0.532895,0.467105,0.469054,0.530943,39

In [5]:
explore = df.describe(percentiles=[], include='all').T
explore

,count,unique,top,freq,mean,std,min,50%,max
MEMBER_NO,62988.0,NaN,NaN,NaN,31494.5,18183.213715,1.0,31494.5,62988.0
FFP_DATE,62988,3068,2011/1/13,184,NaN,NaN,NaN,NaN,NaN
FIRST_FLIGHT_DATE,62988,3406,2013/2/16,96,NaN,NaN,NaN,NaN,NaN
GENDER,62985,2,男,48134,NaN,NaN,NaN,NaN,NaN
FFP_TIER,62988.0,NaN,NaN,NaN,4.102162,0.373856,4.0,4.0,6.0
WORK_CITY,60719,3309,广州,9385,NaN,NaN,NaN,NaN,NaN
WORK_PROVINCE,59740,1183,广东,17507,NaN,NaN,NaN,NaN,NaN
WORK_COUNTRY,62962,118,CN,57748,NaN,NaN,NaN,NaN,NaN
AGE,62568.0,NaN,NaN,NaN,42.476346,9.885915,6.0,41.0,110.0
LOAD_TIME,62988,1,2014/3/31,62988,NaN,NaN,NaN,NaN,NaN
FLIGHT_COUNT,62988.0,NaN,NaN,NaN,11.839414,14.049471,2.0,7.0,213.0
BP_SUM,62988.0,NaN,NaN,NaN,10925.081254,16339.486151,0.0,5700.0,505308.0
EP_SUM_YR_1,62988.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
EP_SUM_YR_2,62988.0,NaN,NaN,NaN,265.689623,1645.702854,0.0,0.0,74460.0
SUM_YR_1,62437.0,NaN,NaN,NaN,5355.376064,8109.450147,0.0,2800.0,239560.0
SUM_YR_2,62850.0,NaN,NaN,NaN,5604.026014,8703.364247,0.0,2773.0,234188.0
SEG_KM_SUM,62988.0,NaN,NaN,NaN,17123.878691,20960.844623,368.0,9994.0,580717.0
WEIGHTED_SEG_KM,62988.0,NaN,NaN,NaN,12777.152439,17578.586695,0.0,6978.255,558440.14
LAST_FLIGHT_DATE,62988,731,2014/3/31,959,NaN,NaN,NaN,NaN,NaN
AVG_FLIGHT_COUNT,62988.0,NaN,NaN,NaN,1.542154,1.786996,0.25,0.875,26.625
AVG_BP_SUM,62988.0,NaN,NaN,NaN,1421.440249,2083.121324,0.0,752.375,63163.5
BEGIN_TO_FIRST,62988.0,NaN,NaN,NaN,120.145488,159.572867,0.0,50.0,729.0
LAST_TO_END,62988.0,NaN,NaN,NaN,176.120102,183.822223,1.0,108.0,731.0
AVG_INTERVAL,62988.0,NaN,NaN,NaN,67.749788,77.517866,0.0,44.666667,728.0
MAX_INTERVAL,62988.0,NaN,NaN,NaN,166.033895,123.39718,0.0,143.0,728.0
ADD_POINTS_SUM_YR_1,62988.0,NaN,NaN,NaN,540.316965,3956.083455,0.0,0.0,600000.0
ADD_POINTS_SUM_YR_2,62988.0,NaN,NaN,NaN,814.689258,5121.796929,0.0,0.0,728282.0
EXCHANGE_COUNT,62988.0,NaN,NaN,NaN,0.319775,1.136004,0.0,0.0,46.0
avg_discount,62988.0,NaN,NaN,NaN,0.721558,0.185427,0.0,0.711856,1.5
P1Y_Flight_Count,62988.0,NaN,NaN,NaN,5.766257,7.210922,0.0,3.0,118.0
L1Y_Flight_Count,62988.0,NaN,NaN,NaN,6.073157,8.175127,0.0,3.0,111.0
P1Y_BP_SUM,62988.0,NaN,NaN,NaN,5366.72055,8537.773021,0.0,2692.0,246197.0
L1Y_BP_SUM,62988.0,NaN,NaN,NaN,5558.360704,9351.956952,0.0,2547.0,259111.0
EP_SUM,62988.0,NaN,NaN,NaN,265.689623,1645.702854,0.0,0.0,74460.0
ADD_Point_SUM,62988.0,NaN,NaN,NaN,1355.006223,7868.477,0.0,0.0,984938.0
Eli_Add_Point_Sum,62988.0,NaN,NaN,NaN,1620.695847,8294.398955,0.0,0.0,984938.0
L1Y_ELi_Add_Points,62988.0,NaN,NaN,NaN,1080.378882,5639.857254,0.0,0.0,728282.0
Points_Sum,62988.0,NaN,NaN,NaN,12545.7771,20507.8167,0.0,6328.5,985572.0
L1Y_Points_Sum,62988.0,NaN,NaN,NaN,6638.739585,12601.819863,0.0,2860.5,728282.0
Ration_L1Y_Flight_Count,62988.0,NaN,NaN,NaN,0.486419,0.319105,0.0,0.5,1.0
Ration_P1Y_Flight_Count,62988.0,NaN,NaN,NaN,0.513581,0.319105,0.0,0.5,1.0
Ration_P1Y_BPS,62988.0,NaN,NaN,NaN,0.522293,0.339632,0.0,0.514252,0.999989
Ration_L1Y_BPS,62988.0,NaN,NaN,NaN,0.468422,0.338956,0.0,0.476747,0.999993
Point_NotFlight,62988.0,NaN,NaN,NaN,2.728155,7.364164,0.0,0.0,140.0

In [8]:
explore['null'] = len(df) - explore['count']
explore['null']

MEMBER_NO                    0.0
FFP_DATE                       0
FIRST_FLIGHT_DATE              0
GENDER                         3
FFP_TIER                     0.0
WORK_CITY                   2269
WORK_PROVINCE               3248
WORK_COUNTRY                  26
AGE                        420.0
LOAD_TIME                      0
FLIGHT_COUNT                 0.0
BP_SUM                       0.0
EP_SUM_YR_1                  0.0
EP_SUM_YR_2                  0.0
SUM_YR_1                   551.0
SUM_YR_2                   138.0
SEG_KM_SUM                   0.0
WEIGHTED_SEG_KM              0.0
LAST_FLIGHT_DATE               0
AVG_FLIGHT_COUNT             0.0
AVG_BP_SUM                   0.0
BEGIN_TO_FIRST               0.0
LAST_TO_END                  0.0
AVG_INTERVAL                 0.0
MAX_INTERVAL                 0.0
ADD_POINTS_SUM_YR_1          0.0
ADD_POINTS_SUM_YR_2          0.0
EXCHANGE_COUNT               0.0
avg_discount                 0.0
P1Y_Flight_Count             0.0
L1Y_Flight_Count             0.0
P1Y_BP_SUM                   0.0
L1Y_BP_SUM                   0.0
EP_SUM                       0.0
ADD_Point_SUM                0.0
Eli_Add_Point_Sum            0.0
L1Y_ELi_Add_Points           0.0
Points_Sum                   0.0
L1Y_Points_Sum               0.0
Ration_L1Y_Flight_Count      0.0
Ration_P1Y_Flight_Count      0.0
Ration_P1Y_BPS               0.0
Ration_L1Y_BPS               0.0
Point_NotFlight              0.0
Name: null, dtype: object

In [9]:
explore = explore[['null', 'max', 'min']]
explore

                          null        max    min
MEMBER_NO                  0.0    62988.0    1.0
FFP_DATE                     0        NaN    NaN
FIRST_FLIGHT_DATE            0        NaN    NaN
GENDER                       3        NaN    NaN
FFP_TIER                   0.0        6.0    4.0
WORK_CITY                 2269        NaN    NaN
WORK_PROVINCE             3248        NaN    NaN
WORK_COUNTRY                26        NaN    NaN
AGE                      420.0      110.0    6.0
LOAD_TIME                    0        NaN    NaN
FLIGHT_COUNT               0.0      213.0    2.0
BP_SUM                     0.0   505308.0    0.0
EP_SUM_YR_1                0.0        0.0    0.0
EP_SUM_YR_2                0.0    74460.0    0.0
SUM_YR_1                 551.0   239560.0    0.0
SUM_YR_2                 138.0   234188.0    0.0
SEG_KM_SUM                 0.0   580717.0  368.0
WEIGHTED_SEG_KM            0.0  558440.14    0.0
LAST_FLIGHT_DATE             0        NaN    NaN
AVG_FLIGHT_COUNT           0.0     26.625   0.25
AVG_BP_SUM                 0.0    63163.5    0.0
BEGIN_TO_FIRST             0.0      729.0    0.0
LAST_TO_END                0.0      731.0    1.0
AVG_INTERVAL               0.0      728.0    0.0
MAX_INTERVAL               0.0      728.0    0.0
ADD_POINTS_SUM_YR_1        0.0   600000.0    0.0
ADD_POINTS_SUM_YR_2        0.0   728282.0    0.0
EXCHANGE_COUNT             0.0       46.0    0.0
avg_discount               0.0        1.5    0.0
P1Y_Flight_Count           0.0      118.0    0.0
L1Y_Flight_Count           0.0      111.0    0.0
P1Y_BP_SUM                 0.0   246197.0    0.0
L1Y_BP_SUM                 0.0   259111.0    0.0
EP_SUM                     0.0    74460.0    0.0
ADD_Point_SUM              0.0   984938.0    0.0
Eli_Add_Point_Sum          0.0   984938.0    0.0
L1Y_ELi_Add_Points         0.0   728282.0    0.0
Points_Sum                 0.0   985572.0    0.0
L1Y_Points_Sum             0.0   728282.0    0.0
Ration_L1Y_Flight_Count    0.0        1.0    0.0
Ration_P1Y_Flight_Count    0.0        1.0    0.0
Ration_P1Y_BPS             0.0   0.999989    0.0
Ration_L1Y_BPS             0.0   0.999993    0.0
Point_NotFlight            0.0      140.0    0.0

In [12]:
explore.columns = ['空值数', '最大值', '最小值']

In [13]:
explore.to_csv(outputfile)